.container{
    display: flex;
    justify-content: space-between;
    padding-left:5%;
    padding-right: 5%;
    border: 1px solid black;
    margin:20px;
}

#image
{
    height: 50px;
    width: 20px;
}