

*{
    box-sizing: border-box;
    
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 14px;
}
.main{
    width: 40vw;
    height: 60vh;
    /* background: linear-gradient(blue,rgb(106, 106, 255) ); */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 10px 30px #e7e7e7;
    border-radius: 30px;
}

.left{
    background: linear-gradient(blue,rgb(106, 106, 255) );
    color: white;
    align-items: center;
    padding:  20px;
    border-radius: 30px;
    text-align: center;
    height:60vh;
    width:40vw;


}
.left h5{
    padding: 20px;
    font-size: 20px;
    color: hsl(241, 100%, 89%);
}

.circle{
    font-weight: 900;
    height: 170px;
    padding: 50px;
    transform: translateX(30%);
    
    width: 170px;
    color: white;
    
    
    
    border-radius: 50%;
    background: linear-gradient( rgb(0, 0, 136), rgb(68, 68, 255));
}

h2{
    padding-bottom: 20px;
    margin-top: 0px;
    font-size: 20px;
    color: hsla(224, 30%, 27%);
    margin-right: 100px;
    
}

.circle h1{
    font-size: 40px;
}
.pp{
    padding: 15px;
    color: hsl(241, 100%, 89%);
    font-size: 18px;

}
.circle span{
    font-size: 15px;
    color:hsl(241, 100%, 89%);
}
.right{
    background-color: white;
    border: 30px;
    padding: 50px 20px;
    border-radius: 30px;
    text-align: center;
    width: 40vw;
    height:60vh;
    
}

.right-inside p{
    padding: 10px;
    align-content: space-between;



}


#a{
    background-color: hsla(0, 17%, 52%, 0.1);
    margin-bottom: 10px;
    border-radius: 10px;
}
#b
{
    background-color: hsla(71, 26%, 67%, 0.1);
    margin-bottom: 1px;
    box-sizing: 10px;
}
#c{
   background-color:hsla(165, 82%, 80%, 0.2) ;
   margin-bottom: 10px;
   border-radius: 10px;
}
#d{
    background-color: hsl(234, 61%, 68%,0.1);
    margin-bottom: 10px;
    border-radius: 10px;
}
.k{
  background-color: hsl(224, 30%, 27%);
  padding: 10px ;
  border-radius: 10px;
  margin-bottom: 190px;
  

  
}




.k a{
    color: white;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 600;
    
    
    
}