*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    height: 100vh;
}


#main{
    padding: 30px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
}
